.banner1 {
    width: 70.48vw;
    height: 53.88vw;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0;
    gap: 0;
    position: relative;
    background-color: aquamarine;
}

.banner_img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.purchase-button {
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 500;
    font-size: 1.2vw;
    line-height: 1.5;
    color: #E9E9E9;
    letter-spacing: 0.05em;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8.5vw;
    height: auto;
    white-space: nowrap;
    border: 0.1vw solid #E9E9E9; 
    border-radius: 0.5vw; 
    margin-left: 30%;
    margin-top: 3vh;
    padding: 2.5%;

}


.purchase-button:hover {
    
    border:none;
    background-color: #333333;
}
.purchase-button2 {
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 600;
    font-size: 1.2vw;
    line-height: 1.5;
    color:#171717;
    letter-spacing: 0.05em;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8.5vw;
    height: auto;
    white-space: nowrap;
    border: 0.15vw solid #171717; 
    border-radius: 0.5vw; 
    margin-top: 3vh;
    margin-left: 30%;
    padding: 2.5%;
}


.purchase-button2:hover {
    
    border:none;
    background-color: #221F1F;
    color:#E9E9E9; 
}


.blackrectangle {
    display: flex;
    align-items: flex-start;
    background-color: #171717;
    width: 30%;
    height: 15.5vw;
    box-sizing: border-box;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;

}

.whiterectangle {
    display: flex;
    align-items: flex-start;
    background-color: #EBEBEB;
    width: 30%;
    height: 15.5vw;
    box-sizing: border-box;
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;

}