/* Down.css */

.down-container {
  position: relative;
  right: 0;
  width: calc(100% - 20px); /* Ширина на 20px менше за батьківську */
  margin-right: 1.38vw; /* Додаємо відступ від правого краю */
  border: 1px solid #E9E9E9;
  border-radius: 0.56vw;
  background-color: white;
  padding: 0.89vh 0; /* Додаємо відступ зверху і знизу для внутрішніх елементів */
  font-size: 1.1vw;
  font-weight: 550;
}

.down-item {
  border: 1px solid #E9E9E9;
  height: 6.62vh;
  line-height: 4.62vh;
  padding: 0 0.69vw;
  cursor: pointer;
  color: #757575;
}
  .down-item.selected {
    background-color: #6746CE;
  }
  
  .down-item:hover {
    background-color: #d3c3e5;
  }
  .down-item.active {
    background-color: #6746CE; /* Приклад стилізації активного поля */
  }

  

  