
.footer {
  width: 100%;
  height: 26vw; 
  display: flex;
  flex-direction: column;
  background-color: #E9E9E9;
  align-items: center;
  padding: 2.1vw 0; 
  gap: 4.44%; 
  box-sizing: border-box; 
  margin:0;
}

.content-container {
  width: 90%;
  height: 16,66vw;
  background-color: #E9E9E9;
  display: flex;
  flex-direction: row;
  gap: 2.46%;
 
}

.footer-description {
  width: 31.86%;
  height: 88.75%;
  border-right: 0.11vw solid #c3c2c2;
  background-color: #E9E9E9;
  display: flex;
  flex-direction: column;
}

.logo1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35.83%;
  height: 16.9%;
}

.logo1 img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  background-size: cover;
  background-position: center;
}

.shop-description {
  width: 92.25%;
  height: 68.08%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #E9E9E9;
  margin-top: 8%;
}

.shop-description p {
  font-family: 'Wix Madefor Display', sans-serif;
  font-weight: 400;
  font-size: 1vw;
  color: #757575;
  text-align: left;
  align-items: center;
  align-items: flex-start;
}

.shop-description span {
  font-family: 'Wix Madefor Display', sans-serif;
  font-weight: 700;
  font-size: 1vw;
  color: #757575;
  text-align: left;
  margin-bottom: 6%;
  margin-top: 3%;
  align-items: center;
  align-items: flex-start;
}

.links {
  width: 65.66%;
  height: 16.66vw;
  display: flex;
  flex-direction: row;
  gap: 6%;
  background-color: #E9E9E9;;
  margin-left: 2.46%;
  flex-direction: row;
}



.column-container {
  display: flex;
  flex-direction: column;
  width: 28.69%;
  height: 16.66vw;
  background-color: #E9E9E9;;

}

.column-container a {
  font-family: 'Wix Madefor Display', sans-serif;
  font-weight: 700;
  font-size: 1vw;
  color: black;
  text-align: left;
  align-items: flex-start;
  margin-bottom: 2vw;;
  line-height: 0.95;
}
.column-container a:hover {
  color: #6746CE;
}

.link {
  text-decoration: none;
  cursor: pointer; 
}
.column-container span {
  font-family: 'Wix Madefor Display', sans-serif;
  font-weight: 700;
  font-size: 1vw;
  color: #6746CE;
  text-align: left;
  align-items: flex-start;
  line-height: 0.95;
  margin-bottom: 2.2vw;;
  
}
.column-container span:hover {
  color: black;
}
.bottom-container {
  display: flex;
  flex-direction: row;
  width: 90%; 
  height: 4.08vw;
  background-color: #E9E9E9;
  gap: 7.56%;

}
.leftcolum {
  width: 54.55%;
  height: 4.08vw;
  gap:2.26%;
  background-color: #E9E9E9;
  flex-direction: row;
}
.footer-links {
  display: flex;
  width: 100%; 
  height: 1.68vw;
  background-color: #E9E9E9;
  flex-direction: row;
  gap:2.9vw;
  margin-bottom: 1.12vw;
}

.footer-links a {
  font-family: 'Wix Madefor Display', sans-serif;
  font-weight: 700;
  font-size: 1vw;
  color: black;
  text-align: left;
  align-items: flex-start;
  
  line-height: 0.95;
}

.footer-link-item:hover {
  color: #000; 
}
.footer-caption {
  font-family: 'Wix Madefor Display', sans-serif;
  font-weight: 400;
  font-size: 0.833vw; 
  line-height: 1.5; 
  color: #757575;
  
  max-width: 100%; 
  word-break: break-word;
  
}
.payment-systems {
  display: flex;
  width: 37.88%; 
  height: 2.4vw;
  gap: 3.33vw; 
  justify-content: stretch;
  background-color: #E9E9E9;
  align-items: center;
  margin: 1vw 0;
}



.payment-item img {
  display: flex;
  width: 100%; 
  height: 2.4vw;
}
