.HomePage {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    align-items: center;
    padding: 8.8vw 0;
    gap: 2vw;
    box-sizing: border-box;
    margin: 0;
}