body,
button,
input,
label,
p,
a {
  font-family: 'Wix Madefor Display', sans-serif;
}

.login-form-container {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 0.69vw;
  width: 100vw;
  height: auto;
  background: #FFFFFF;
  padding: 10vw 0 5vw 0;
}

.login-form-wrapper {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 1.11vw;
  width: 28.92vw;
  height: 100%;
}

.tabs {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 4.09vw;
  width: 100%;
  height: 8.95%;
  border-bottom: 0.2vw solid #E9E9E9;
  background: #FFFFFF;

}

.tabs button {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Wix Madefor Display', sans-serif;
  font-weight: 500;
  font-size: 1vw;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: black;
  background-color: #FFFFFF;

}

.tabs .login-button {
  border-top: none;
  border-left: none;
  border-right: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 0 1.11vw 0;
  gap: 0.69vw;
  width: 3.96vw;
  height: 100%;
  margin-bottom: -0.5%;
  border-bottom: 0.2vw solid #E9E9E9;
}

.tabs .register-button {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 0 1.11vw 0;
  width: 14.44vw;
  height: 100%;
  margin-bottom: -0.5%;
  border-bottom: 0.2vw solid #E9E9E9;
}



.tabs .login-button:hover,
.tabs .register-button:hover {
  color: #6746CE;
}

.tabs .login-button.active,
.tabs .register-button.active {
  border-bottom: 0.21vw solid #6746CE;
  color: black;
}


.login-form {

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.66vw;
  gap: 1.66vw;
  width: 28.96vw;
  height: auto;
  border: 0.1vw solid #ACBAC7;
  border-radius: 0.8vw;
}


form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 1.04vw;
  font-weight: bold;
  font-family: 'Wix Madefor Display', sans-serif;
  font-weight: 700;
  font-size: 1vw;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: black;
  ;
}


.required {
  display: none; 
}
.required.show,
.error {
  display: inline;
  color: #FF1887;
  margin-left: 0.35vw;
  font-family: 'Wix Madefor Display', sans-serif;
  font-weight: 500;
  font-size: 1vw;
  line-height: 1.5;
  letter-spacing: 0.05em;
}



form input[type="email"],
form input[type="password"],
form input[type="text"] {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.97vw 0.55vw;
  gap: 0.55vw;
  width: 25.53vw;
  height: auto;
  border: 0.05vw solid #ACBAC7;
  border-radius: 0.8vw;
  font-family: 'Wix Madefor Display', sans-serif;
  font-weight: 500;
  font-size: 1vw;
  line-height: 1.5;
  letter-spacing: 0.05em;
}



form input[type="checkbox"] {
  width: 1.39vw;
  height: 1.39vw;
  margin-right: 0.69vw;
  border-radius: 0.27vw;
  border: 0.14vw solid black;
  appearance: none;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  position: relative;
}

form input[type="checkbox"]:checked {
  background-color: #6746CE;
  border: 0.14vw solid #6746CE;
}

form input[type="checkbox"]:checked::after {
  content: '✔';
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-size: 1vw;
  line-height: 1;
}

button[type="submit"] {

  background-color: #6746CE;
  color: #fff;
  cursor: pointer;
  font-family: 'Wix Madefor Display', sans-serif;
  font-weight: 500;
  font-size: 1vw;
  line-height: 1.5;
  letter-spacing: 0.05em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.69vw 8.88vw;
  gap: 0.69vw;
  width: 25.62vw;
  height: 2.85vw;
  background: #6746CE;
  border: 1px solid #6746CE;
  border-radius: 0.8vw;
}

a {
  display: inline-block;
  text-align: left;
  text-decoration: none;
  font-weight: bold;
  text-decoration: underline;
  font-family: 'Wix Madefor Display', sans-serif;
  font-weight: 600;
  font-size: 0.9vw;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-align: left;
  text-decoration: none;
  color: #6746CE;
  
}
.no-wrap {
  white-space: nowrap;
}

.text-container {

  margin-top: 0.69vw;
  color:black;
  font-weight: bold;
  display: flex;
  width: 24vw;
  height: auto;
  flex-direction: column;
  font-family: 'Wix Madefor Display', sans-serif;
  font-weight: 400;
  font-size: 1vw;
  line-height: 1.5;
  text-align: left;
  padding-left: 2%;
  
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input {
  width: calc(100% - 2.5vw); 
  padding-right: 3vw; 
}

.password-toggle {
  position: absolute;
  right: 1vw; 
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2vw; 
  z-index: 10; 
}
.size-6 {
  width: 1.66vw;
  height: 1.66vw;
  
}
form input[type="email"]:focus,
form input[type="password"]:focus,
form input[type="text"]:focus {
  border: 0.1vw solid #6746CE; 
  outline: none;
}

form input[type="email"].filled,
form input[type="password"].filled,
form input[type="text"].filled {
  border: 0.1vw solid #6746CE;
}

form input[type="email"]:hover,
form input[type="password"]:hover,
form input[type="text"]:hover {
  border: 0.1vw solid #6746CE; 
}
button[type="submit"]:hover {
  background-color: #000000; 
  color: white;
  border-color: #000000;
}


a:hover {
  text-decoration: underline;
}

.forgot-password {
  display: inline-flex; 
  align-items: center; 
  background: none; 
  border: none; 
  color: black; 
  font-size: 16px; 
  cursor: pointer; 
  text-decoration: none; 
  padding: 0; 
  font-family: 'Wix Madefor Display', sans-serif;
  font-weight: 600;
  font-size: 1vw;
  line-height: 1.5;
  letter-spacing: 0.05em;
  margin-top: 1vw;
}
.forgot-password:hover{
  color: #6f42c1; ; 
}
h2
{
  font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 700;
    font-size: 1.8vw; 
    color: #6746CE;
    margin-bottom: 1.5vw; 
    line-height: 1.2;
}
.back-to-login {
  display: inline-flex; 
  align-items: center; 
  background: none; 
  border: none; 
  color: black; 
  font-size: 16px; 
  cursor: pointer; 
  text-decoration: none; 
  padding: 0; 
  font-family: 'Wix Madefor Display', sans-serif;
  font-weight: 600;
  font-size: 1vw;
  line-height: 1.5;
  letter-spacing: 0.05em;
  margin-top: 1vw;
}
.back-to-login:hover{
  color: #6f42c1;  
}
