body,
button,
input,
label,
p,
a {
  font-family: 'Wix Madefor Display', sans-serif;
}

.login-form-container {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 0.69vw;
  width: 100vw;
  height: auto;
  background: #FFFFFF;
  padding: 10vw 0;
}

.login-form-wrapper {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 1.11vw;
  width: 28.92vw;
  height: 100%;
}

.tabs {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 4.09vw;
  width: 100%;
  height: 8.95%;
  border-bottom: 0.2vw solid #E9E9E9;
  background: #FFFFFF;

}

.tabs button {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Wix Madefor Display', sans-serif;
  font-weight: 500;
  font-size: 1vw;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: black;
  background-color: #FFFFFF;

}

.tabs .login-button {
  border-top: none;
  border-left: none;
  border-right: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 0 1.11vw 0;
  gap: 0.69vw;
  width: 3.96vw;
  height: 100%;
  margin-bottom: -0.5%;
  border-bottom: 0.2vw solid #E9E9E9;
}

.tabs .register-button {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 0 1.11vw 0;
  width: 14.44vw;
  height: 100%;
  margin-bottom: -0.5%;
  border-bottom: 0.2vw solid #E9E9E9;
}



.tabs .login-button:hover,
.tabs .register-button:hover {
  color: #6746CE;
}

.tabs .login-button.active,
.tabs .register-button.active {
  border-bottom: 0.21vw solid #6746CE;
  color: black;
}


.login-form {

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.66vw;
  gap: 1.66vw;
  width: 28.96vw;
  height: auto;
  border: 0.1vw solid #ACBAC7;
  border-radius: 0.8vw;
}


form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 1.04vw;
  font-weight: bold;
  font-family: 'Wix Madefor Display', sans-serif;
  font-weight: 700;
  font-size: 1vw;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: black;
  ;
}

form label.required::after {
  content: '*';
  color: #FF1887;
  margin-left: 0.35vw;
  font-family: 'Wix Madefor Display', sans-serif;
  font-weight: 500;
  font-size: 1vw;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

form input[type="email"],
form input[type="password"],
form input[type="text"] {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.97vw 0.55vw;
  gap: 0.55vw;
  width: 25.53vw;
  height: auto;
  border: 0.05vw solid #ACBAC7;
  border-radius: 0.8vw;
  font-family: 'Wix Madefor Display', sans-serif;
  font-weight: 500;
  font-size: 1vw;
  line-height: 1.5;
  letter-spacing: 0.05em;

}

form input[type="checkbox"] {
  width: 1.39vw;
  height: 1.39vw;
  margin-right: 0.69vw;
  border-radius: 0.27vw;
  border: 0.14vw solid #6746CE;
  appearance: none;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  position: relative;
}

form input[type="checkbox"]:checked {
  background-color: #6746CE;
  border: 0.14vw solid #6746CE;
}

form input[type="checkbox"]:checked::after {
  content: '✔';
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-size: 1vw;
  line-height: 1;
}

button[type="submit"] {

  background-color: #6746CE;
  color: #fff;
  cursor: pointer;
  font-family: 'Wix Madefor Display', sans-serif;
  font-weight: 500;
  font-size: 1vw;
  line-height: 1.5;
  letter-spacing: 0.05em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.69vw 8.88vw;
  gap: 0.69vw;
  width: 25.62vw;
  height: 2.85vw;
  background: #6746CE;
  border: 1px solid #6746CE;
  border-radius: 0.8vw;
}

a {
  display: inline-block;
  color: #6746CE;
  text-align: left;
  text-decoration: none;
  font-weight: bold;
  text-decoration: underline;
  font-family: 'Wix Madefor Display', sans-serif;
  font-weight: 600;
  font-size: 0.9vw;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-align: left;
}

.text-container {

  margin-top: 0.69vw;
  color: #f44404;
  font-weight: bold;
  display: flex;
  width: 24vw;
  height: auto;
  flex-direction: column;
  font-family: 'Wix Madefor Display', sans-serif;
  font-weight: 600;
  font-size: 0.8vw;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-align: left;
  padding-left: 2%;
}

