.my-orders {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8.8vw 0;
  /*gap: 0.44vw;*/
  width: 100vw;
  height: 72vw;
}
.my-orders-title {
  /* Мої замовлення */
  width: 90vw;
  height: 3vw;
  /* HEADER/h3_Bold */
  font-family: "Wix Madefor Display", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 2.5vw;
  line-height: 2.2vw;
  /* identical to box height, or 150% */
  color: #000000;
}
.frame-302 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1.17% 5vw 7.29% 5vw;
  width: 90vw;
  height: 4.62%;
}
.frame-220 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  width: 37.64vw;
  height: 85.42%;
}
.frame-214 {
  /* Frame 214 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Вирівнюємо по горизонталі (по центру) */
  justify-content: center; /* Вирівнюємо по вертикалі (по центру) */
  padding: 0px;
  gap: 2.22vw;
  width: 9.93vw;
  height: 5.33vh;
}
.frame-215 {
  /* Frame 215 */

/* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  gap: 2.22vw;
  width: 50%; /* Займає половину ширини від батьківського елемента */
  height: 5.33vh;
}
.frame-204{
  /* Frame 204 */
box-sizing: border-box;
/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
padding: 2vh 0.07vw;
gap: 0.69%;
width: 9.93vw;
height: 6.33vh;
/* Grey_3 */
border: 1px solid #E9E9E9;
border-radius: 0.7vw;
}
.frame-204:hover {
  border-color: #6746CE;
}
.Text{
  /* Text */
width: 5.35vw;
height: 2.33vh;
/* BODY 2/body2_Regular */
font-family: 'Wix Madefor Display';
font-style: normal;
font-weight: 400;
font-size: 1.1vw;
line-height: 1.1vw;
white-space: nowrap;
/* Grey_2 */
color: #757575;

}
.arrow-down-24{
  /* arrow_down_24x24 */
width: 1.66vw;
height: 2.66vh;
margin-left: auto;
border: none;
background-color: #FFFFFF;
}
.stroke{
  width: 100%;
  height: 100%;
  object-fit: contain;
  min-width: none;
  justify-content: stretch;

}
.frame-334 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20 20 20 200;
  gap: 3.55vh;  
  width: 90vw;
  height: 28.33vh;
  background-color:#FFFFFF; 
}
.search-input-order {
  
  font-size: 1.1vw;
  width: 59.02vw; /* Встановлюємо ширину для інпуту */
  border: 1px solid #dfcbcb;
  border-right: none; /* Видаляємо праву рамку для з'єднання з кнопкою */
  border-top-left-radius: 0.35vw;
  border-bottom-left-radius: 0.35vw;
  border-top-right-radius: 0; 
  border-bottom-right-radius: 0; 
  outline: none;
  box-sizing: border-box; /* Враховуємо внутрішні відступи та ширину рамки */
  height: 100%; /* Вирівнюємо висоту з кнопкою */
}
.search-input-order:hover {
  border-color: #6746CE; /* Колір рамки при наведенні (синій) */
}
.search-button {
  box-sizing: border-box;
  font-size: 1.1vw;
  background-color: #6746CE;
  color: white;
  border: 1px solid #ccc;
  border-left: none; /* Видаляємо ліву рамку для з'єднання з інпутом */
  border-top-right-radius: 0.35vw;
  border-bottom-right-radius: 0.35vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 100%; /* Вирівнюємо висоту з полем введення */
  width: 25.55vw;
}
.search-button:hover {
  background-color: #050606;
}

.frame-334{
  /* Frame 334 */
 
 /* Auto layout */
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 /*gap: 32px;*/
 width: 90vw;
 height: 17.2vw;
 /* Inside auto layout 
 flex: none;
 order: 3;
 align-self: stretch;
 flex-grow: 0;*/
 }

 .frame-161{
  /* Frame 161 */
box-sizing: border-box;
/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 0px 3,77vw 6,88vw;
gap: 2.91vw;
width: 90vw;
height: 4.11vw;

/* Grey_3 */
border-bottom: 1px solid #E9E9E9;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

 }
   /* Загальні стилі для таблиці */
 table {
   width: 100%;
   border-collapse: collapse;
   margin: 2.22vh 0;
   font-size: 1vw;
   text-align: left;
 }
 
 /* Стилі для заголовків таблиці */
 th {
   background-color: #FFFFFF;
   color: #757575;
   padding: 1.33vh 1.04vw;
   border-bottom: 2px solid #ddd;
 }
 
 /* Стилі для клітинок таблиці */
 td {
   padding: 1.33vh 1.04vw;
   border-bottom: 1px solid #ddd;
   font-size: 0.8vw;
   width: 25vw;
 }
 
 /* Стилі для рядків таблиці */
 tr:nth-of-type(even) {
   background-color: #f9f9f9;
 }
 
 /* Стилі для рядків при наведенні */
 tr:hover {
   background-color: #f1f1f1;
 }
 
 /* Стилі для зображення продукту */
 .product-info {
   display: flex;
   align-items: center;
   width: 25vw;
 }
 
 .product-image {
   width: 5.55vw;
   height: 8.88vw;
   object-fit: cover;
   margin-right: 1vw;
   border-radius: 0.35vw;
 }
 
 /* Стилі для опису продукту */
 .product-description {
   display: flex;
   flex-direction: column;
   font-size: 0.9vw;
   color: #000000;
 }
 
 .product-description p {
   font-size: 0.9vw;
   color: #000000;
 }
 
 /* Стилі для ціни */
 td:nth-of-type(2) {
   text-align: start;
   color: #FF1887;
 }
 
 /* Стилі для статусу */
 td:nth-of-type(4) {
   font-weight: bold;
   color: #6746CE;
 }