.App {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100vw;
    height: auto;
    margin: 0; 
    box-sizing: border-box;
  }
  body {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    width: 100vw;
    height: auto;
    margin: 0; 
    box-sizing: border-box;
  }
  
  